.cart-item {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0;
  color: #4d4d4d;
}

.group {
  font-weight: 800;
}

.group span:first-child {
  margin-right: 0.5em;
}

.remove {
  color: #999999;
  cursor: pointer;
}

.item-extra {
  display: block;
  font-size: 0.8rem;
  color: #808080;
  margin-top: 0.4em;
}
