.control {
  display: flex;
  flex-direction: column;
}

.label {
  display: block;
  margin: 1em 0 0.5em 0;
}

.textarea {
  resize: vertical;
  height: 120px;
  min-height: 50px;
  padding: 0.5em;
  outline: none;
  border: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
