.item {
  position: relative;
  max-height: 600px;
  overflow: scroll;
  -webkit-transform: translateZ(0);
}

.description {
  padding: 0 1em;
  font-size: 1rem;
  margin-bottom: 0.5em;
}

.controls {
  padding: 0 1em;
}

.actions {
  margin-top: 3em;
}
