.category {
  display: block;
  margin: 1em 0 0.5em 0;
}
.options-container {
  border: 1px solid #cccccc;
  border-radius: 3px;
}

.item-options label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid #cccccc;
  padding: 0.5em;
}

.item-options label:last-child {
  border-bottom: none;
}

.options-control {
  display: flex;
  align-items: center;
}
.options-control input {
  margin-right: 10px;
}
