.item {
  max-height: 700px;
  overflow: scroll;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.banner {
  height: 15em;
}

.description {
  padding: 0 1em;
  font-size: 1rem;
  margin-bottom: 0.5em;
}

.controls {
  padding: 0 1em;
}

.actions {
  margin-top: 3em;
}
