.category {
  border-top: 1px solid lightgray;
}

.category:first-child {
  border-top: none;
}

img {
  max-width: 100%;
}

.label {
  background-color: #f1f1f1;
  padding: 1.5em;
  cursor: pointer;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
