.app {
  max-width: 100em;
  width: 90%;
  margin: 0 auto;
  overflow: hodden;
}

.nav {
  position: fixed;
  top: 0;
  height: 4em;
  padding-left: 2em;
  width: 100em;
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  transition: background-color 0.3s ease-in;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.opaque {
  background-color: rgba(255, 255, 255, 1);
}
.nav h1 {
  font-family: "Teko", sans-serif;
  font-size: 1.8rem;
  color: #2f932f;
}

.actions {
  height: 100%;
}

.button {
  position: relative;
  border: none;
  width: 6em;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
  border-left: 1px solid #666666;
  transition: 0.3s ease-in-out;
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 43%;
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 150%;
  color: white;
  font-size: 0.9em;
  font-weight: 800;
}

.button:hover,
.button:active {
  background-color: rgba(250, 250, 250, 0.3);
}

.icon {
  width: 2.5em;
  height: 2.5em;
  color: #666666;
}

.bounceIn {
  animation: bounceIn 0.5s;
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
